<h2><%= @figure.name %></h2>

<ul>
    <% @figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
    <% end %>
</ul>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
